@media (max-width: 767.98px) {
    #SKILLS .card:first-of-type {
        border-radius: 12px 0 0 12px;
    }

    #SKILLS .card:last-of-type {
        border-radius: 0 12px 12px 0;
    }

    footer .social-icons p a {
        height: 30px;
        padding: 5px;
    }
}
