body {
    font-family: 'Lato';
}

#ABOUT {
    padding-bottom: 250px;
}

#ABOUT > div {
    width: 60%;
}

#SKILLS {
    margin-top: -13rem;
}

#SKILLS i.fas {
    font-size: 50px;
}
